* {
  box-sizing: border-box;
  padding: 0;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.my-container {
  width: 70%;
}

header #top_menu {
  background-color: #0282f9;
}

header #top_menu > div {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 0;
  text-align: right;
}

header nav #links a {
  color: #1c1c1c;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  padding: 0 20px;
}

main .jumbo {
  height: 500px;
}

main .jumbo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main .comics {
  background-color: #1c1c1c;
  padding: 50px 0 20px 0;
}

main .comics .page_title {
  background-color: #0282f9;
  height: 60px;
  padding: 10px 30px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  position: absolute;
  top: -80px;
  left: 0;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

main .comics .comic {
  width: 200px;
  height: 300px;
  padding: 20px 0;
  color: white;
}

main .comics .comic img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main .comics .comic h5 {
  padding-top: 10px;
}

main .comics .load_more a {
  color: white;
  text-transform: uppercase;
  padding: 10px 40px;
  background-color: #0282f9;
}

main .comic_image {
  height: 100px;
  width: 100%;
  background-color: #0282f9;
  position: relative;
}

main .comic_image img {
  border: 2px solid white;
  position: absolute;
  bottom: 20px;
}

main .buy {
  background-color: #0282f9;
}

main .buy li {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

